<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-12 columns">

                <nav class="top-bar" data-topbar>
                    <ul class="title-area">

                        <li class="name">
                            <h1>
                                <a href="#wood">
                                    Древесина
                                </a>
                            </h1>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>

        <div class="row">
            <div class="large-4 small-12 columns">
                <search></search>
            </div>

            <div class="large-8 columns">
                <div class="row">
                    <goods></goods>
                </div>
            </div>
        </div>
    </div>

</div>