<div>
    <form class="card color-main">
        <label for="mat">Material:</label>
        <select id="mat"
                ng-model="materialSelected"
                ng-options="opt as opt.label for opt in materials">
        </select>
        <br/>

        <label for="col">Color:</label>
        <select id="col"
                ng-model="colorSelected"
                ng-options="opt as opt.label for opt in colors">
        </select>
        <br/>

        <label for="minPrc">Min Price: {{fromPrice}}</label>
        <input type="range" min="0" max="1000" ng-change="changePrice()" ng-model="fromPrice" id="minPrc"/>

        <br/>
        <label for="maxPrc">Max Price: {{toPrice}}</label>
        <input type="range" min="0" max="1000" ng-change="changePrice()" ng-model="toPrice" id="maxPrc"/>

        <input type="submit" value="Search"/>
    </form>
</div>